html, body{
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 30px;
    
}

.navbar{
    background-color: #FFFFFF;
    padding: 1% 0;
    font-size: 1.2em;
    margin-bottom:0;
    border-radius:0;
    vertical-align: middle;
}

.navbar-brand{
    min-height: 40px;
}

.navbar-brand>img{
    max-height: 40px;
    width: auto;
}

.navbar-right span{
    padding-right: 10px;
    vertical-align: middle;
}

.navbar-right a{
    vertical-align: middle;
    padding: 2px 5px;
    font-weight: 600;
}

.background{
    background: #fff,linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) no-repeat center center fixed;
    background-blend-mode: overlay;
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;

}

.text{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color: #000;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 200;
}

.container{
    position: relative;
}


.nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    color: #000;
}

/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: #F0F0F0;
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: #F0F0F0;
}

/* active (faded) */
.nav-pills .pill-1 .nav-link {
    background-color: #f0ad4e;
}

.nav-pills .pill-2 .nav-link {
    background-color: #f0ad4e;
}

.content{
    margin-left: 14px;
}

.chart-title{
    font-weight: 500;
    font-size: 20px;
}

.buttons{
    margin-top: 20px;
    text-align: right;
    margin-right: 117px;
    margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 1em 0;
  text-align: center;
}

h1 {
  color: #7d5401;
  text-align: center;
  font-size: 3em;
}
h1 i {
  color: #ffe29e;
}

.timeline-wrapper {
  position: relative;
}
.timeline-wrapper::after {
  content: "";
  position: absolute;
  height: 10px;
  transition: 0.75s ease-out;
  background: #ffdf6b;
  width: 0px;
  z-index: 0 !important;
  left: 0;
  bottom: 0px;
}

.timeline {
  display: flex;
  transition: all 0.3s;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 10px solid #f0ad4e;
  margin: 0 0 50px 0;
}
.timeline .event {
  background: #fff6e5;
  cursor: pointer;
  padding: 1em;
  border-radius: 5px;
  position: relative;
  margin: 0 1em 0 1em;
  transition: all 0.3s;
  box-shadow: 0 0 5px #ccc;
  color: #7d4a01;
  text-align: center;
}
.timeline .event .close {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: center;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.timeline .event .close:hover {
  color: darkred;
  background: #fff;
}
.timeline .event h2 {
  font-family: Dosis;
  position: relative;
  z-index: 1;
}
.timeline .event h2::before {
  content: "\f073";
  display: block;
  position: absolute;
  top: 50px;
  left: calc(50% - 15px);
  font-size: 30px;
  font-family: "FontAwesome";
  color: #f0ad4e;
  opacity: 0.1;
  z-index: 0;
}
.timeline .event p {
  color: #d98e03;
}
.timeline .event * {
  padding: 0;
  margin: 0;
}
.timeline .event:hover {
  background: #ffe29e;
  box-shadow: 0px 0px 10px #ccc;
  transform-origin: 100px 0px;
  transform: rotate(-10deg);
  z-index: 2;
}
.timeline .event:hover::after {
  border-color: #db9b25;
  z-index: 2;
}
.timeline .event::after {
  margin: 0 auto;
  position: relative;
  bottom: -65px;
  content: "";
  display: block;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #db9b25;
  background: #fff;
  border: 5px solid #f0ad4e;
  transition: all 0.25s;
  z-index: 2;
}
.timeline .event.active {
  background: lightyellow;
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0 0 10px #ccc;
  z-index: 2;
}
.timeline .event.active::after {
  border-color: #ffdf6b;
  transform: scale(1.1);
}
.timeline .event.previous {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.1);
}
.timeline .event.previous p {
  color: rgba(0, 0, 0, 0.1);
}
.timeline .event.previous:hover {
  opacity: 1;
}

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('../../img/spinner.gif');
   background-repeat: no-repeat; 
   background-color: #FFF;
   background-position: center;
}
