html, body{
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 30px;
    
}

.navbar{
    background-color: #FFFFFF;
    padding: 1% 0;
    font-size: 1.2em;
    margin-bottom:0;
    border-radius:0;
    vertical-align: middle;
}

.navbar-brand{
    min-height: 40px;
}

.navbar-brand>img{
    max-height: 40px;
    width: auto;
}

.navbar-right span{
    padding-right: 10px;
    vertical-align: middle;
}

.navbar-right a{
    vertical-align: middle;
    padding: 2px 5px;
    font-weight: 600;
}


.heading{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color: #000;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 200;
}

.number{
    font-size: 35px;
    color: #f0ad4e;
    font-weight: 700;
}

.name{
    font-size: 20px;
    font-weight: 400;
}

.row{
    display:flex;
    align-items:center;
}

.progress{
    margin-bottom: 10px;
}

.compat{
    color: #000;
    font-weight: 500;
}

.email{
    border-color: #f0ad4e;
    border-width: medium;
    background-color: blanchedalmond;
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100px;
}

.buttons{
    margin-top: 30px;
    text-align: right;
    margin-bottom: 20px;
    margin-right: 73px;
}

.btn1{
    width: 190px;
}

.btn2{
    width:190px;
}

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('../../img/spinner.gif');
   background-repeat: no-repeat; 
   background-color: #FFF;
   background-position: center;
}

.my-progress{
    width: 100%;
    background-color: #ebebeb;
    border-radius: 5px;
}

#my-bar1{
    background-color: #ffcc7a;  
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 11;
    font-weight: 400;
}


#my-bar2{
    background-color: #ffcc7a;  
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 11;
    font-weight: 400;
}


#my-bar3{
    background-color: #ffcc7a;  
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 11;
    font-weight: 400;
}


#my-bar4{
    background-color: #ffcc7a;  
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 11;
    font-weight: 400;
}


#my-bar5{
    background-color: #ffcc7a;  
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 11;
    font-weight: 400;
}